.wrapper {
    width: 100%;
    height: 30vh;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .carousel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper .nav-button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.wrapper .carousel img {
    width: 0;
    height: 0;
    transition-duration: 500ms;
    object-fit: cover;
}

.wrapper .carousel .center-image {
    padding: 20px;
    width: 70vw;
    height: 30vh;
}

.wrapper .carousel .left-image {
    width: 0;
}

.wrapper .carousel .right-image {
    width: 0;
}

@media screen and (min-width: 768px) {
    .wrapper .carousel .center-image {
        width: 50vw;
    }
    
    .wrapper .carousel .left-image {
        width: 20vw;
        height: 20vh;
    }
    
    .wrapper .carousel .right-image {
        width: 20vw;
        height: 20vh;
    }
}